.home-page-container {
  .home-page-grid-wrapper {
    height: 100%;
    width: 100%;
  }
}

.home-moto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-blend-mode: multiply;

  .fade-slider {
    position: relative;
    width: 100%;
    max-width: 560px;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    border-radius: 12px;
  }

  .slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 800ms ease-in-out;
    will-change: opacity;
    user-select: none;
    pointer-events: none;
  }

  .slide.active {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .home-page-container {
    height: calc(100vh - 57px);

    .fade-slider {
      left: -25px;
    }
  }
}

@media (max-width: 400px) {

}


